<!doctype html>
<html lang="en">

{% load dictio %}
{% load humanize %}
{% load get_last %}
{% load convert_list %}
{% load typess %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <title>{% block title %} {% endblock %} </title>
</head>

<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li><a href="/home">Sastgram logo</a></li>
            <li>

                <form action="{% url 'search' %}" method="post">{% csrf_token %}
                  <input type="text" name="query" style="text-align: center;width: 300px;height: 30px;" placeholder="Search">
                </form>

            </li>
            <li><a href="/home">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#add-new-post">Add new Post</a></li>
            <!-- Modal -->
            <div class="modal fade" id="add-new-post" tabindex="-1" aria-labelledby="add-new" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add-new">Upload a new Post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/main/uploading" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <label for="myFile" class="btn btn-primary">Upload</label>
                                <input type="file" id="myFile" name="images" hidden>
                                <input type="text" name="captions" class="my-2 text-center" placeholder="Caption here..." style="height:40px;width:100%;font-family:cursive;font-size:25px;">
                                <input type="hidden" name="username" value="{{user.username}}">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <li><a href="">DMs</a></li>
            <li><a href="" data-bs-toggle="modal" data-bs-target="#notifications">{% block notifications %}{% endblock %}</a></li>
            
             <!-- Modal -->
              <div class="modal fade" id="notifications" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Notifications</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      {% if user.notifications|length == 0 %}
                      <div class="no-notifications">
                        <p>When someone likes or comments on one of your posts, you'll see it here.</p>
                      </div>
                      {% else %}
                    
                      <div class="notifications">
                      {% for main in user.notifications|to_list %}
                      {% with notifi=main %}
                      {% for user,msg_dict in notifi.items %}
                        <div class="user-msg">
                          <div class="username">

                            {# printing the correct username #}
                            
                            {% for name in all_names %}
                            {% if name in user %}
                            <a href="/main/{{name}}" style="color:black;"><b>{{name}}</b></a>
                            {% endif %}
                            {% endfor %}
                          </div>

                          <div class="msg">
                            {% for msg in msg_dict %}
                              <p>{{msg}}</p>
                            {% endfor %}
                          </div>

                          <div class="event">
                            {% for msg, event in msg_dict.items %}
                            {% if event|slice_last == 'jpg' or event|slice_last == 'png' or event|slice_last == 'jpeg' %}
                            <img src="/media/{{event}}" style="width:42px;height:35px;margin-left:10px;">
                            {% else %}
                            <p><i>{{event}}</i></p>
                            {% endif %}
                            {% endfor %}
                          </div>

                        </div>
                      {% endfor %}
                      {% endwith %}
                      {% endfor %}
                      {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
            </div>

        </ul>
        <div class="dropdown">
            <a class="dropdown-toggle" style="text-decoration: none;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/main/{{user.username}}">Profile</a></li>
                <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
                {% else %}
                <div class="dropdown">
                    <a class="dropdown-toggle" style="text-decoration: none;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Options
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="/users/login">Login</a></li>
                        <li><a class="dropdown-item" href="/users/register">Signup</a></li>
                    </ul>
                </div>
                {% endif %}
    </nav>

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message.tags}}: </strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% block body %}
    {% endblock %}


    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
    {% block script %}

    <script>

    </script>


    {% endblock %}
</body>
</html>